<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        <websocket:handlers>
            <websocket:mapping handler="marcoHandler" path="/marco"/>
            <websocket:sockjs/>
        </websocket:handlers>-->
    <bean id="marcoHandler" class="com.zhoubo.websocket.MarcoHandler"/>
</beans>