<html>
<head>
    <meta charset="UTF-8">
    <script src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
    <script type="text/javascript">
        function testSockJS() {
            /*      var url = 'ws://' + window.location.host + '/marco';*/
            var url = 'http://' + window.location.host + '/marco';
            /*        var sock = new WebSocket(url);*/
            var sock = new SockJS(url);

            sock.onopen = function () {
                console.log('Opening');
                sayMarco();
            };
            sock.onmessage = function (e) {
                console.log('Received message: ', e.data);
                setTimeout(function () {
                    sayMarco()
                }, 2000);
            };
            sock.onclose = function () {
                console.log('Closing');
            };
        }

        function sayMarco() {
            console.log('Sending Marco!');
            sock.send("Marco!");
        }

        document.onready = testSockJS();
    </script>
</head>
<body>

<h2>Hello World!</h2>
<button onclick='getElementById("demo").innerHTML=Date()'>现在的时间是??</button>
<button onclick='testSockJS()'>启动SockJS链接</button>
</body>
</html>
